body {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}
h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;    
}
h2, h3, h4 {
  font-size: 200%;
  position: relative;
}
p {
  font-style: italic;
  line-height: 0px;
  font-size: large;
  }
figcaption {
    font-weight: bold;
    font-size: smaller;
}
.box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  max-width: 250px;
  margin: auto;
  margin-bottom: 0em;
}
#eka {
    background-color: #ADD8E6;
    
}
#toka {
    background-color: #A9A9A9;
    border-bottom: none;
    border-top: none;
    
    }
#kolmas {
    background-color: #FFE4C4;
    
}
