.well {
    width: 500px;
    height: 220px;
    position: absolute;
    top: 100px;
    right: 660px;
}
figure {
    height: 220px;
    width: 220px;
}
nav{
    position: absolute;
    top: 30px;
    right: 950px;
    font-size: 150%;
}