body {
    font-family: Arial, Verdana, sans-serif;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}
ul, ol {
    border-style: solid;
    border-color: #A9A9A9;
    text-indent: 50px;
}
figcaption {
    font-size: 70%;
    font-weight: bold;
}
body {
    background-color: yellow;
}
p {
    text-indent: 50px;
}
.copyright_notice {
    font-size: 0.8em;
}
.hehe {
     background-color: #F0F8FF;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}