table {
    border: 1px solid black;
    border-collapse: collapse;
}
caption {
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
}
#yksi{
    border-right: 1px solid black;
}
#kaksi{
    border-right: 1px solid black;
}
#kolme{
    border-right: 1px solid black;
}
#nelja{
    border-right: 1px solid black;
}
#eka{
    background-color: red; 
    color: white;
    text-transform: uppercase;
}
#kolmas{
    background-color: lightgrey;
}