body {
    font-family: Arial, Verdana, sans-serif;
    margin-left: 225px;
    margin-right: 1100px;
    background-color: #F0FFFF;
}
figure {
    position: absolute;
    top: 10px;
    left: 0px;
}
.eka {
    border: 1px solid black;
    width: 220px;
    height: 100px;
    background-color: #00FFFF;
}
.toka {
    border: 1px solid black;
    width: 220px;
    height: 80px;
    background-color: #00FFFF
}
dt {
    font-weight: bold;
}
table, td, th {
    border: 1px solid black;
    background-color: #00FFFF
    border-collapse: collapse;

}

h1{
    font-size: 200%;
    text-transform: uppercase;
}